*{
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  min-height: 100vh;
   min-width: 100vw;
   max-width: 100vw;
   background-image: url(./pages/Home/img/1.png);
   background-repeat: no-repeat;
   background-size: 100vw;
 
  


}

button{
  cursor: pointer;
}
